<nav class="navbar">
  <div class="navbar-container">
    <a href="../pages/index.html" class="navbar-logo">
      <img src="../assets/tuss-logos/tuss-all-white.png" alt="Logo TUSS">
    </a>

    <!-- Botão hambúrguer -->
    <div class="navbar-toggle" id="navbar-toggle">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul class="navbar-links" id="navbar-links">
      <li><a href="#">Linhas</a></li>
      <li><a href="#">Horários</a></li>
      <li><a href="#">Tarifários</a></li>
      <li><a href="#">Sobre</a></li>
      <li><a href="#">Contactos</a></li>
    </ul>
  </div>
</nav>
