<nav class="navbar">
  <div class="navbar-container">
    <a href="/pages/pt/index.html" class="navbar-logo">
      <img src="/assets/tuss-logos/tuss-all-white.png" alt="Logo TUSS">
    </a>

    <ul class="navbar-links" id="navbar-links">
      <li class="has-submenu">
        <a href="#">Viajar</a>
        <ul class="submenu">
          <li><a href="/pages/pt/linhas.html">Linhas e Horários</a></li>
          <li><a href="/pages/pt/planear-viagem.html">Planear Viagem</a></li>
          <li><a href="/pages/pt/paragem.html">Paragens</a></li>
          <li><a href="/pages/pt/alteracoes-de-servico.html">Alterações de Serviço</a></li>
          <li><a href="/pages/pt/tarifario.html">Tarifário</a></li>
          <li><a href="/pages/pt/acessibilidade.html">Acessibilidade</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Os TUSS</a>
        <ul class="submenu">
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Sustentabilidade</a></li>
          <li><a href="#">Projectos Cofinanciados</a></li>
          <li><a href="#">Certificados e Prémios</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Cultura e Pessoas</a>
        <ul class="submenu">
          <li><a href="#">Cultura Organizacional</a></li>
          <li><a href="#">Recrutamento</a></li>
        </ul>
      </li>
      <li class="has-submenu">
        <a href="#">Apoio e Contactos</a>
        <ul class="submenu">
          <li><a href="#">Fale Connosco</a></li>
          <li><a href="#">Preguntas Frequentes</a></li>
          <li><a href="#">Empresas</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </li>

      <!-- Botão de idioma -->
      <li class="language-switch">
        <button id="lang-btn">EN</button>
      </li>
    </ul>
  </div>
  <script src="/scripts/lang-switch.js" defer></script>
</nav>
