/* ================================================
   RESET BÁSICO
================================================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================================================
   TIPOGRAFIA E BODY
================================================ */
html, body {
  height: 100%;
  font-family: "Funnel Display", sans-serif;
  background: #f4f4f4;
  color: #222;
  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4 { font-weight: 700; }
p, li, a { font-weight: 400; }

/* ================================================
   MAIN
================================================ */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
